<div class="centrar">
    <table style="width:100%">
        <tr>
            <td rowspan="6">
                <div class="panel panel-default">
                    <p class="text-right-pers">AQUI VA UN TEXTO PARA ANALIZAR</p>
                </div>
            </td>
            <td align="right">
                <button type="button" class="btn btn-default btn-sz">Política</button>
            </td>
        </tr>
        <tr>
            <td align="right">
                <button type="button" class="btn btn-primary btn-sz">Deportes</button>
            </td>
        </tr>
        <tr>
            <td align="right">
                <button type="button" class="btn btn-success btn-sz">Ciencia</button>
            </td>
        </tr>
        <tr>
            <td align="right">
                <button type="button" class="btn btn-info btn-sz">Educación</button>
            </td>
        </tr>
        <tr>
            <td align="right">
                <button type="button" class="btn btn-warning btn-sz">Economía</button>
            </td>
        </tr>
        <tr>
            <td align="right">
                <button type="button" class="btn btn-danger btn-sz">Cultura</button>
            </td>
        </tr>
    </table>
</div>
<next></next>
<skip></skip>
