<div class="centrar">
    <p>Registro</p>
    <div class="panel panel-default">
        <p class="text-right-pers">AQUI VA UN TEXTO PARA ANALIZAR</p>
    </div>
    <div>
        <button type="button" class="btn btn-1"></button>
        <button type="button" class="btn btn-2"></button>
        <button type="button" class="btn btn-3"></button>
        <button type="button" class="btn btn-4"></button>
        <button type="button" class="btn btn-5"></button>
        <div class="leyenda">
            <a class="desplegable"><img src="/assets/img/glyphicon-down.png" />
                <img class="leyendaimg" src="/assets/img/leyenda.png">
            </a>
        </div>
    </div>
</div>
<next></next>
<skip></skip>
